#.travis.yml
sudo: false
dist: trusty
language: node_js
node_js:
  - "node"
  - $FIREBASE_NODE_VER
install:
  - cd $TRAVIS_BUILD_DIR/functions
  - npm install
script: true
cache:
    npm: true
    directories:
        - functions/node_modules
before_deploy:
  - npm install -g firebase-tools
deploy:
  - provider: script
    skip_cleanup: true
    script: firebase deploy --project $FIREBASE_PROJECT --token $FIREBASE_TOKEN --non-interactive
    on:
      branch: master
  - provider: script
    skip_cleanup: true
    script: firebase deploy --project $FIREBASE_PROJECT --token $FIREBASE_TOKEN --non-interactive
    on:
      all_branches: true
      condition: $TRAVIS_BRANCH != "master" && $FIREBASE_DEV_DEPLOY = "true" && $TRAVIS_NODE_VERSION = $FIREBASE_NODE_VER